flow.json
[{"id":"d404091c.51afb8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"54c694fe.c72d5c","type":"mongodb-config","z":0,"hostname":"ds261114.mlab.com","port":"61114","db":"ceva","name":"Ceva"},{"id":"eb139b4b.adfa18","type":"mongodb","z":"","hostname":"ds261114.mlab.com","port":"61114","db":"ceva","name":"MongoDB"},{"id":"a3d82710.a07eb8","type":"inject","z":"d404091c.51afb8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":37,"wires":[["87c8889f.060778"]]},{"id":"fa50511b.1e395","type":"debug","z":"d404091c.51afb8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":659,"y":35,"wires":[]},{"id":"2ae8cef8.2b6292","type":"function","z":"d404091c.51afb8","name":"header","func":"msg.headers = {\"content-type\": \"application/json\"}\nreturn msg;","outputs":1,"noerr":0,"x":442,"y":364,"wires":[["750b884b.83ae38"]]},{"id":"621a1a01.0c5084","type":"function","z":"d404091c.51afb8","name":"functionBody","func":"if(msg.payload.succsess){\n    msg.res.json({\n        succsess: \"true\",\n        data: msg.payload\n    })\n}\nelse{\n    msg.res.json({\n        succsess: \"false\",\n        data: null\n    })\n}","outputs":1,"noerr":0,"x":443.5,"y":205,"wires":[["2ae8cef8.2b6292"]]},{"id":"17e6321a.633c1e","type":"http in","z":"d404091c.51afb8","name":"Http Request","url":"/read","method":"get","upload":false,"swaggerDoc":"","x":103.5,"y":160,"wires":[["87c8889f.060778"]]},{"id":"750b884b.83ae38","type":"http response","z":"d404091c.51afb8","name":"Http Response","statusCode":"200","headers":{},"x":436.5,"y":518,"wires":[]},{"id":"87c8889f.060778","type":"mongodb in","z":"d404091c.51afb8","mongodb":"eb139b4b.adfa18","name":"findQuery-openingBalance","collection":"invoices","operation":"find","x":366,"y":36,"wires":[["fa50511b.1e395","621a1a01.0c5084"]]}]