flow.json
[
    {
        "id": "d404091c.51afb8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4bb600cc.b24f2",
        "type": "mongodb-config",
        "z": "",
        "hostname": "ds147096.mlab.com",
        "port": "47096",
        "db": "rasidi-sample",
        "name": "mlab"
    },
    {
        "id": "a3d82710.a07eb8",
        "type": "inject",
        "z": "d404091c.51afb8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 144,
        "y": 143,
        "wires": [
            [
                "2ae8cef8.2b6292"
            ]
        ]
    },
    {
        "id": "fa50511b.1e395",
        "type": "debug",
        "z": "d404091c.51afb8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 913,
        "y": 113,
        "wires": []
    },
    {
        "id": "2ae8cef8.2b6292",
        "type": "function",
        "z": "d404091c.51afb8",
        "name": "",
        "func": "console.log(msg);\nmsg.payload = \"HEQ\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 284,
        "y": 174,
        "wires": [
            [
                "ede85c13.6d1c6"
            ]
        ]
    },
    {
        "id": "ede85c13.6d1c6",
        "type": "change",
        "z": "d404091c.51afb8",
        "name": "define env var",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "hey",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 531.5,
        "y": 221,
        "wires": [
            [
                "fa50511b.1e395"
            ]
        ]
    }
]