flow.json
[
    {
        "id": "d404091c.51afb8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a3d82710.a07eb8",
        "type": "inject",
        "z": "d404091c.51afb8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 260,
        "wires": [
            [
                "2ae8cef8.2b6292"
            ]
        ]
    },
    {
        "id": "fa50511b.1e395",
        "type": "debug",
        "z": "d404091c.51afb8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 860,
        "y": 260,
        "wires": []
    },
    {
        "id": "5f820e4c.a5288",
        "type": "lower-case",
        "z": "d404091c.51afb8",
        "name": "HEi",
        "x": 451.5,
        "y": 316,
        "wires": [
            [
                "fa50511b.1e395"
            ]
        ],
        "info": "Hi"
    },
    {
        "id": "2ae8cef8.2b6292",
        "type": "function",
        "z": "d404091c.51afb8",
        "name": "",
        "func": "console.log(msg);\nmsg.payload = \"HEQ\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 160,
        "wires": [
            [
                "5f820e4c.a5288"
            ]
        ]
    }
]